<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <style>

    </style>
  </head>
  <body>
    <div id="container">
      <div id="chat-area">
        <div class="message bot">Hello! How can I help you?</div>
        <div class="message user">Hi! I have a question about your service.</div>
      </div>
      <form id="input-area" autocomplete="off">
        <input id="input-box" type="text" placeholder="Type your message..." required />
        <button id="send-btn" type="submit">Send</button>
      </form>
    </div>
    <script src="../static/js/main.js"></script>
  </body>
</html>